@using OnlineCoursePlatform.Models

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OnlineCoursePlatform</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-course">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Course
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <span class="nav-link disabled">
                <strong>Courses</strong>
            </span>
            @foreach (var course in CourseList.Courses)
            {
                <NavLink class="nav-link" href="@($"Course/{course.Title}")">
                    <span class="bi bi-book-fill-nav-menu" aria-hidden="true"></span> @course.Title
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}